annotated-types
anyio
async-timeout
asyncpg
certifi
charset-normalizer
click
dnspython
docker
email-validator
exceptiongroup
fastapi
greenlet
h11
httpcore
httptools
httpx
idna
iniconfig
itsdangerous
Jinja2
MarkupSafe
orjson
packaging
pluggy
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
pytest
python-dotenv
python-multipart
PyYAML
requests
sniffio
SQLAlchemy
starlette
tomli
typing_extensions
ujson
urllib3
uvicorn
uvloop
watchfiles
websockets
